<%= form_with(url: search_books_path , local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "本のタイトルで検索する", class: "search-input" %>
  <%= form.submit "検索" , class: "search-btn" %>
<% end %>

<div class="contents row">
  <% unless @books.empty? %>
     <% @books.each do |book| %>
       <%= render partial: "book" , locals: { book: book} %>
     <% end %>
  <% else %>
    <h1>本を投稿しよう</h1>
  <% end %>
</div>